<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a class="btn btn-success" href="/admin/articles/new">Novo Artigo</a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article =>{ %>
                <tr>
                    <td><%= article.id %></td>
                    <td><%= article.title %></td>
                    <td><%= article.slug%></td>
                    <td><%= article.category.title %> </td>
                    <td> Ações</td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<script>
        function ConfirmarDelecao(event, form){
            event.preventDefault();
            var decision = confirm("Você quer deletar esta categoria?");
            if(decision){
                form.submit();
            }
        }
        console.log(article)
</script>
<%- include('../../partials/footer') %>